* {
	margin: 0;
	padding: 0;
}

body {
	background-color: $bg-dark;
	color: $bg-light;
}

a {
	text-decoration: none;
	color: $gray;
}

.navbar {
	background-color: $bg-dark;
	.imgBrand {
		width: 100px;
		filter: invert(60%);
		&:hover {
			filter: invert(100%);
		}
	}
	.navbarToggleIcon {
		color: $gray;
		font-size: 3rem;
		&:hover {
			color: $bg-light;
		}
	}
}

.collapsedNav {
	display: none;
	min-height: 100vh;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	.nav-links {
		list-style-type: none;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 3rem;
		font-size: 50px;

		.nav-item a {
			padding: 10px;
			text-decoration: none;
			color: $gray;
			font-size: 30px;
			opacity: 1;
			transition: all 0.4s ease;
			font-family: "Bree Serif";

			&:hover {
				color: $bg-light;
				font-size: 50px;
			}

			&:hover::before {
				content: attr(data-text);
				opacity: 1;
				letter-spacing: 10px;
			}

			&::before {
				content: "";
				position: absolute;
				top: 50%;
				left: 50%;
				display: flex;
				justify-content: center;
				transform: translate(-50%, -50%);
				align-items: center;
				font-size: 5em;
				font-weight: 400;
				font-family: "Tilt Prism";
				color: rgb(255, 255, 255, 0.1);
				z-index: 1;
				pointer-events: none;
				opacity: 0;
				letter-spacing: 100px;
				transition: all 0.4s ease;
			}
		}
	}

	.closeBtn {
		position: absolute;
		right: 10%;
		top: 10%;
		color: $gray;
		font-size: 60px;
		font-family: cursive;
		border: none;
		&:hover {
			color: $bg-light;
		}
	}
}

.mainContainer {
	min-height: 100vh;
}

.container0 {
	.arrow {
		position: absolute;
		bottom: 10%;
		right: 49%;
		a i {
			color: $bg-light;
			opacity: 80%;
		}
	}

	a i {
		font-size: 2rem;
		transition: 0.3s;
		&:hover {
			color: $bg-light;
			font-size: 2.5rem;
		}
	}

	.centralText {
		.myName {
			font-family: "Poppins", sans-serif;
			font-size: 3.5rem;
			font-weight: 700;
			.nameMain {
				color: $main-color;
			}
		}

		.myJob {
			font-family: "Teko", sans-serif;
			font-size: 3rem;
		}
	}

	.main-image {
		position: absolute;
		background-size: cover;
		background-position: center;
		width: 40%;
		height: 100vh;
		right: 0%;
		z-index: -1;

		img {
			height: 100vh;
			float: right;
			filter: drop-shadow(1rem 0 0.75rem $main-color);
		}
	}
}

.container1 {
	background-color: $bg-dark;
}
