@media (max-width: 1200px) {
  .container0 {
    .main-image {
      display: none;
    }
  }
  .collapsedNav {
    .nav-links {
      .nav-item a {
        &::before {
          font-size: 3em;
        }
      }
    }
  }
}

@media (max-width: 1000px) {
  .container1 {
    padding-bottom: 10px;

    .imgBox img {
      width: 50%;
    }
  }

  .collapsedNav {
    .closeBtn {
      right: 5%;
      top: 5%;
    }
    .nav-links {
      .nav-item a {
        &::before {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 545px) {
  .container0 {
    .arrow {
      right: 47%;
    }

    .socialMediaIcons {
      display: none !important;
    }

    .contactIcons {
      display: none !important;
    }

    .centralText {
      .myName {
        font-size: 3rem;
      }
    }
  }

  .container3 {
    .projectsGrid {
      .project {
        .card {
          min-height: 400px;
          .card-body {
            .tecs {
              display: none;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 380px) {
  .collapsedNav {
    .nav-links {
      gap: 2rem;

      .nav-item a {
        font-size: 1.4rem;
      }
    }
  }

  .container0 {
    .centralText {
      .myName {
        font-size: 2.2rem;
      }
      .myJob {
        font-size: 1.8rem;
        .glitch {
          font-size: 2rem;
        }
      }
    }
  }
}
